.form__contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.fieldset_form{
    width: 90%;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}
.dados_pessoais{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.form_info{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
input{
    width: 90%;
    height: 32px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
}
textarea{
    width: 95%;
    height: 48px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    padding: 5px;
}
.contato_botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30%;
    margin: 30px 0 15px 0;
}
.contato_botoes button{
    width: 100px;
    height: 32px;
    border-radius: 10px;
    font-size: 18px;
}
.button_enviar{
    background-color: rgb(243, 179, 5);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}
.button_limpar{
   background-color: rgb(243, 5, 5);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0); 
}
@media screen and (min-width: 768px){
    input{
        height: 48px;
    }
    textarea{
        height: 64px;
    }
    .fieldset_form{
        font-size: 32px;
    }
    .contato_botoes button{
        width: 150px;
        height: 48px;
    }
}