/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* GLOBAL */

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 40%,
    rgb(131, 131, 131) 50%,
    rgb(255, 255, 255)
  );
  color: rgb(243, 179, 5);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* header of all pages  */
/* stile for mobile  */

.home__header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.home__header .links__nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 5px;
  margin-top: 15px;
  font-size: 24px;
  border-radius: 10px;
  background-color: rgba(151, 151, 151, 0.493);
}
.home__header .home__text .home__titlle{
  text-align: center;
  font-size: 24px;
}
.home__header .home__text .home__titlle .first_tittle {
  margin-bottom: 15px;
}
